

    <div>
        
        <button class="icon-btn waves-effect waves-light btn" type="submit">
            <!-- class = "completed-btn delete-btn" -->
            
                <a href="#" class="icon solid fa-trash delete"></a>
            
        </button>
    </div> 
