<div id="nav">
    <ul>
        <li><a class="" href="/mygoals"><span>My Goals</span></a></li>
        <li><a class="" href="/goals/feed"><span>Goals Feed</span></a></li>
        <li><a class="" href="/goals/create"><span>Create Goal</span></a></li>
        <li><a class="" href="/auth/logout"><span>Logout</span></a></li>
    </ul>
</div>
























































        
<!--         
        <p><a href="/mygoals" >My Goals</a></p>
        <p><a href="/goals/feed" >Goals Feed</a></p>
        <p><a href="/auth/logout" >Logout</a></p>  -->
        






	


