<!-- <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large" onClick="openNav()"&#9776 >
    <i class="fas fa-bars small"></i>
</a>





<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>




<script>
    function openNav() {
        
      document.getElementById("mySidenav").style.width = "250px";
    }
</script> -->
























<div id="nav">
    <ul>
        <li><a class="" href="/mygoals"><span>My Goals</span></a></li>
        <li><a class="" href="/goals/feed"><span>Goals Feed</span></a></li>
        <li><a class="" href="/goals/create"><span>Create Goal</span></a></li>
        <li><a class="" href="/auth/logout"><span>Logout</span></a></li>
    </ul>
</div>


<!-- <div class=" nav-wrapper container">


    <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars small"></i></a>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/stories">Public Stories</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>
</div> -->



    
    <!-- <nav>
        <a class="link depth-0" href="index.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <span class="indent-0"></span>Introduction</a>
        <a class="link depth-0" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <span class="indent-0"></span>Dropdown</a>
        <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <span class="indent-1"></span>Lorem ipsum dolor</a>
        <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <span class="indent-1"></span>Magna phasellus</a>
        <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <span class="indent-1"></span>Etiam dolore nisl</a>
        <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <span class="indent-1"></span>Phasellus consequat</a>
        <a class="link depth-2" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <span class="indent-2"></span>Magna phasellus</a>
        <a class="link depth-2" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <span class="indent-2"></span>Etiam dolore nisl</a>
        <a class="link depth-2" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <span class="indent-2"></span>Phasellus consequat</a>
        <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <span class="indent-1"></span>Veroeros feugiat</a>
        <a class="link depth-0" href="left-sidebar.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <span class="indent-0"></span>Left Sidebar</a>
        <a class="link depth-0" href="right-sidebar.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <span class="indent-0"></span>Right Sidebar</a>
        <a class="link depth-0" href="no-sidebar.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <span class="indent-0"></span>No Sidebar</a>
    </nav> -->





















































        
<!--         
        <p><a href="/mygoals" >My Goals</a></p>
        <p><a href="/goals/feed" >Goals Feed</a></p>
        <p><a href="/auth/logout" >Logout</a></p>  -->
        






	


