<!DOCTYPE HTML>
<!--
	Strongly Typed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<%- include('./partials/head'); %>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">
					<div class="container">
					
						<!-- Logo -->
							<h1 id="logo">Envisioning my Goals</h1>
							<p>Creating my future</p>

						

					</div>
				</section>

			<!-- Features -->
				<section id="features">
					<div class="container">
						<header>
							<h2>These are my goals, this is my <strong>FUTURE</strong>!</h2>
						</header>
						<div class="row aln-center">
						

                            <!-- where goals section goes - get from notes -->

						</div>

						<!-- <br>
						<br>
						<br>
						<br> -->

						<div class="col-6 col-12-medium">
							<h1 class="header-font">Create New Goal</h1>
							<section>
								
								<form method="POST" action="/addGoal">
									<div class="row gtr-50">
										<div class="col-6 col-12-small">
											<input name="goalTitle" placeholder="Title" type="text" />
										</div>
										<div class="col-6 col-12-small">
											<input name="goalBriefDes" placeholder="Breif Description" type="text" />
										</div>
										<div class="col-12">
											<textarea name="goalDetailDes" placeholder="Detailed description, your WHY, all the juicy stuff"></textarea>
										</div>

										<div class="col-12">
											<button type="submit" class="form-button-submit button">Create Goal</button>
										</div>

									
									</div>
								</form>
							</section>
						</div> 






						</div>
					</div>
				</section>

			

								

								



										</section>

								
											
											</ul>
										</section>

								</div>

						</div>
					</div>
				</section>


		</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.dropotron.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>